<div id="master">
<a class="list-group-item">
  <div class="row">
    <div class="col-sm-1">
      <img id="logo" src="{{article.imagenUrl}}">
    </div>
    <div class="col-sm-6">
      <h3>{{article.nombre}}</h3>
      <p>{{article.descripcion}}</p>
    </div>
  
   <div class="col-sm-3">
      <h4><span aria-hidden="true"></span>{{article.source}} </h4>
    </div>
    <div class=" col-sm-2">
      <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{article.fechaPubli}}</h4>
    </div>

  </div>
  
  
 
