#linea {
 background: #F4D03F;
}

h1{
    margin-left: 50px;
    font-family: Courier New, Courier, monospace, bold;
    font-size: 25px;
    font-weight: bold;
}


h2{
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
 }

 #buscador {
    margin-top: 20px;
    margin-left: 44px;

 }
 #lens {
    
    
    margin-top: -57px;  
    margin-left: 190px;
  
 }

 .spacing {
    height: 60px;
 }
