

<router-outlet></router-outlet>


<div class="page-wrap">
    <footer class="site-footer">
        <br>
           <span id="logos">
              <a href="https://github.com/Flordelola" target="_blank">
               <img id="logo" alt="logo" src="./assets/githubsrc.png">
              </a>
            </span>
            <span id="logos">
              <a href="https://www.linkedin.com/in/mayra-amador-zapata-/" target="_blank">
               <img id="logo" alt="logo" src="./assets/linkedin1.png">
              </a>
            </span>
            <span id="logos">
              <a href="https://twitter.com/MayrAmador?lang=es" target="_blank">
               <img id="logo" alt="logo" src="./assets/twitterwhote.png">
              </a>
            </span>
            <br><br>
        
        <p> Wiki-Dev, design & programming by Mayra Amador - All rights reserved <span id="copyBrand"><a><img id="copy" alt="copy" src="./assets/copyriught.png"></a></span></p>
    </footer>
</div>


