.carousel-inner > .item > img {
    margin: 0 auto;
}

#carousel {
    margin: 0 auto;
    width: 750px;
    height: 420px; 
}

.text-uppercase {
    color: goldenrod;
    font-size: 38px;  
}

.text-center {
    color: dimgray;
}

.thumbnail{
    width: 300px;
    height: 320px;
    margin: 0 auto;
}

.caption {
    text-align: center;
    color: grey;
  }

.site-footer {
  background: black;
  text-align: center;
  color: white;
  font-size: 15px;
  height: 120px; 
}

#copy {
 height: 15px;
 margin-top: -10px;
}

#logo {
 height: 40px;
}