
.carousel-inner > .item > img {
    margin: 0 auto;
    
   
}

#carousel {
    margin: 0 auto;
    width: 1000px;
    height: 500px; 
   
}

.img{
    width: 1000px;
}

.text-uppercase {
    color: goldenrod;
    font-size: 40px;  
    margin-bottom: -40px;
}

#linea {


 background: #F4D03F;
 
}

h3{
    margin-left: 50px;
    font-family: Courier New, Courier, monospace, bold;
    font-size: 25px;
    font-weight: bold;
}


.text-center {
      color: whitesmoke;
      font-family: Courier New, Courier, monospace;
      
}

.thumbnail{
    width: 500px;
    height: 250px;
    margin: 0 auto;
    background: #DCDCDC;
    
}

.caption {
    text-align: left;
    color: #2F4F4F;
}

.click {
    text-align: right;
    color: #2F4F4F;
    margin-top:-10px;
    margin-right: 20px;
    }

 .section1 {
    background-image: url("../../assets/section2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    opacity: 0.9;
 }

 .spacing {
    height: 300px;
 }
