<div id="pagina" class="row">
    <div class="col-sm-12">
        <div id="margen" class="row">
            <div class="col-sm-8">


                <h5 id="resum">Oferta publicada el {{article.fechaPubli}}</h5>
                <h2><b>{{article.nombre}}</b></h2>

                <a class="backlink hidden-xs" href="/articles/list-articles">←</a>
             
        

            </div>
            <img id="empresa" src="{{article.imagenUrl}}">
        </div>
        <hr>
        <article id="margin">
            <div class="cuerpo">
                {{article.descripcion}}
            </div>
            <hr>
            <table class="resumen">
               
            </table>
        </article>

    </div>
</div>
