<div id="pagina" class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div id="margen" class="row">
            <div class="col-sm-8">


                <h5 id="resum">Article uploaded on {{article.fechaPubli}}</h5>
                <h2><b>{{article.nombre}}</b></h2>

                <a class="backlink hidden-xs" [routerLink]="['/articles/list-articles']">←</a>
             
        

            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
            <img id="empresa" src="{{article.imagenUrl}}">
            </div>
        </div>
        <hr>
        <article id="margin">
            <div class="cuerpo">
                {{article.descripcion}}
            </div>
            <hr>
            <table class="resumen">
               
            </table>
        </article>

    </div>
</div>
